head
    title= title
    link( rel='stylesheet' href='../vendor/bower_components/bootstrap/dist/css/bootstrap.css' )
    link( rel='stylesheet' href='../css/style.css' )
    script( src='../vendor/bower_components/jquery/dist/jquery.js' )
    script( src='../vendor/bower_components/bootstrap/dist/js/bootstrap.js' )